<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
</head>

<body>
    <h1>Edit Data</h1>
    <form action="" method="post">
        <div class="containercheck">
            <label for="IDedit" style="width: 150px;">ID</label>
            <input type="number" id="IDedit" name="IDedit" value="<%= edit.id %>" disabled><br>
        </div>
        <div class="containercheck">
            <label for="addstring" style="width: 150px;">String</label>
            <input type="text" id="addstring" name="stringdb" placeholder="String" value="<%= edit.stringdb %>"><br>
        </div>
        <div class="containercheck">
            <label for="addinteger" style="width: 150px;">Integer</label>
            <input type="number" id="addinteger" name="integerdb" placeholder="Integer"
                value="<%= edit.integerdb %>"><br>
        </div>
        <div class="containercheck">
            <label for="addfloat" style="width: 150px;">Float</label>
            <input type="number" id="addfloat" name="floatdb" placeholder="Float" step="any"
                value="<%= edit.floatdb %>"><br>
        </div>
        <div class="containercheck">
            <label for="adddate" style="width: 150px;">Date</label>
            <input type="date" id="adddate" name="datedb" value="<%= edit.datedb %>"><br>
        </div>
        <div class="containercheck">
            <label for="addboolean" style="width: 150px;">Boolean</label>
            <select id="addboolean" name="booleandb" placeholder="Choose the boolean...">
                <option value="true" <%=edit.booleandb=='true' ? "selected" :"" %> >true</option>
                <option value="false" <%=edit.booleandb=='false' ? "selected" :"" %>>false</option>
            </select>
        </div>
        <br>
        <button type="submit" class="purple-button">Update</button>
        <a href="/" class="red-button">Cancel</a>
    </form>
</body>

</html>