<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    <style>
        h1 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        input[type=text],
        input[type=number],
        input[type=date],
        select {
            -moz-appearance: textfield;
            width: 90%;
            padding: 13px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        body {
            padding: 30px 50px;
        }

        .purple-button {
            font-family: Arial, Helvetica, sans-serif;
            width: 60px;
            background-color: rgb(57, 3, 208);
            color: white;
            padding: 7px 10px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 100%;
            text-decoration: none;
        }

        form {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }

        form .containercheck {
            display: flex;
            margin: 2px;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1>Edit Data</h1>
    <form action="" method="post">
        <div class="containercheck">
            <label for="IDedit" style="width: 150px;">ID</label>
            <input type="number" id="IDedit" name="IDedit" value="<%= id+1 %>" disabled><br>
        </div>
        <div class="containercheck">
            <label for="addstring" style="width: 150px;">String</label>
            <input type="text" id="addstring" name="string" placeholder="String" value="<%= edit.string %>"><br>
        </div>
        <div class="containercheck">
            <label for="addinteger" style="width: 150px;">Integer</label>
            <input type="number" id="addinteger" name="integer" placeholder="Integer" value="<%= edit.integer %>"><br>
        </div>
        <div class="containercheck">
            <label for="addfloat" style="width: 150px;">Float</label>
            <input type="number" id="addfloat" name="float" placeholder="Float" step="any"
                value="<%= edit.float %>"><br>
        </div>
        <div class="containercheck">
            <label for="adddate" style="width: 150px;">Date</label>
            <input type="date" id="adddate" name="date" value="<%= edit.date %>"><br>
        </div>
        <div class="containercheck">
            <label for="addboolean" style="width: 150px;">Boolean</label>
            <select id="addboolean" name="boolean" placeholder="Choose the boolean...">
                <option value="true" <%=edit.boolean=='true' ? "selected" :"" %> >true</option>
                <option value="false" <%=edit.boolean=='false' ? "selected" :"" %>>false</option>
            </select>
        </div>
        <br>
        <button type="submit" class="purple-button">Save</button>
    </form>
</body>

</html>